<!-- <h1>Welcome to Kindly!</h1> -->
<div class="row">
  <div class="small-12 columns background">
    <h2>Welcome to Kindly!</h2>
    <p class="welcome">
      Kindly is the fun and easy way to increase your Random Acts of Kindness!<br>Gain inspiration from others, plan what you would like to do, then share it with the world!<br>
    </p>
  </div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns background">
    <h2>See the Impact of One Good Deed...</h2>
    <p class="welcome">Just as a pebble creates a ripple effect in a pond, kind acts can multiply.  Kindly lets you see how far one good deed can travel.  When others are inspired by your posts, they can 'Pay it Forward' and create their own.  You can then see how many posts were directly (and indirectly) inspired by your kindness!</p>
  </div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns background">
    <h2>Why Practice Random Acts of Kindness?</h2>
    <p class="welcome">Practicing kindness and compassion not only feels good, it <em>is</em> good for you! Being kind produces higher levels of dopamine and oxytocin in our brains.  This makes us happier, lowers blood pressure and inflammation, which protects our hearts and slows aging.</p>
  </div>
</div>

