@import url(http://fonts.googleapis.com/css?family=Rochester);

.image {
  text-align: center
}

.app_name {
  font-family: 'Rochester', cursive;
  font-size: 1.8em !important;
}

.background {
  background-color: rgba(255,255,255,0.9);
  border-radius: 2em;
  margin-top: 20px
}

.current_user {
  color: #FFF;
  padding-top: 10px;
  font-size: 16px
}

.edit{
  margin-bottom: 50px
}

.welcome{
  text-align: center
}

.signin {
  margin-left: 40px
}

h4 {
  text-align: center
}

h1{
  text-align: center
}

h2 {
  text-align: center
}

span {
  color: #4DB84D
}

p {
  font-size: 20px
}

