.background {
  background-color: rgba(255,255,255,0.9);

}

.current_user {
  color: #FFF;
  padding-top: 10px;
  font-size: 16px;
}

.welcome{
  text-align: center
}


h2 {
  text-align: center
}

span {
  color: #4DB84D
}

p {
  font-size: 20px
}

